<div *ngIf="task" class="task">

  <div *ngIf="task.status; then title else completedTitle"></div>
  <ng-template #title><p class="title" ><s>{{task.title}}</s></p></ng-template>
  <ng-template #completedTitle><p class="title">{{task.title}}</p></ng-template>

  <div *ngIf="!task.status; then description else completedDescription "></div>
  <ng-template #description >
    <p class="description"
       *ngIf="!isEditing"
       (dblclick)="changeEditingStatus(descriptionInput)"
    >{{task.description ? task.description : 'Description'}}</p>
  </ng-template>
  <ng-template #completedDescription>
    <s><p class="description"
          *ngIf="!isEditing"
          (dblclick)="changeEditingStatus(descriptionInput)"
    >{{task.description ? task.description : 'Description'}}</p></s>
  </ng-template>

  <input
    class="input input__description"
    [ngStyle]="{display: isEditing ? 'block' : 'none'}"
    type="text"
    #descriptionInput
    [value]="task.description || ''"
    (blur)="editDescription(descriptionInput.value)"
    (keydown.enter)="editDescription(descriptionInput.value)"
  >

  <button class="button button__no-margin" (click)="changeStatus()">{{task.status ? 'in progress' : 'done' }}</button>
  <button class="button" (click)="deleteTask()">delete</button>
  <button class="button" (click)="changeEditingStatus(descriptionInput)">edit</button>
</div>
